<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    {{nav.item 'Introduction' 'docs.index'}}
    {{nav.item 'Usage' 'docs.usage'}}
    {{!-- {{nav.item 'Installation' 'docs.installation'}} --}}
    {{!-- {{nav.item 'The Container' 'docs.container'}} --}}
    {{!-- {{nav.item 'Sources & Layers' 'docs.sources-layers'}} --}}
    {{!-- {{nav.item 'Capturing Events' 'docs.actions'}} --}}
    {{!-- {{nav.item 'Templates' 'docs.templates'}} --}}
  </viewer.nav>

  <viewer.main>
    <div class='docs-container'>
      <div class='docs-section'>
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>
